[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
spacy = "*"
spacy-transformers = "*"
setuptools = "*"
nltk = "*"
ipython = "*"
google-generativeai = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
scikit-learn = "*"
scipy = "*"
requests = "*"
beautifulsoup4 = "*"
tabulate = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.8"
